.datos_container{
    padding: 20px;
}

.datos_container h2{
    font-size: 1.4em;

}

.main{
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: -1px 4px 4px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 9px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 4px -4px rgba(0,0,0,0.75);
    margin-bottom: 20px; 
}

@media (max-width: 450px){
    .datos_container h2{
        font-size: 1.1em;
        padding-bottom: 0px;
    }
}