@import './between_index_components';

.fade-enter-active, .fade-leave-active { transition: opacity .5s } .fade-enter, .fade-leave-to { opacity: 0 }

.sticky_container{
    position: relative;
}

/* .sticky{
    position: sticky;
    top: 0;
    z-index: 2;
} */

.pago_title{
    color: #007bff;
    text-transform:uppercase;
    letter-spacing: 0.5px;
}

.politicas{
    background: #6f42c1;
    border-radius: 4px;
    padding: 10px;
}

.politicas h3{
    color: #fff;
    font-size: 1.1em;
}

.politicas_button{
    border-radius: 30px;
    font-weight: 600;
    background: transparent;
    color: #fff;
    border: 1px solid;
    margin: 10px 0;
    transition: all 600ms ease-in-out;
}

.politicas_button:hover{
    background-color: white;
    border-color: transparent;
    color:#6f42c1;
}

#doc_requerida{
    background: orange;
    color: #fff;
}

#doc_requerida a{
    color: #fff!important;
}

#doc_requerida h4{
    font-size: 1.1em;
}

#doc_requerida p{
    font-size: 0.9em;
    padding: 10px;
}

#backBtn_step3{
    margin: 10px 0;
    border: 1px solid #9090ff;
    color: #9090ff;
}

#backBtn_step3:hover{
    background: #9090ff;
    color: white;
}
