.header_idayvuelta{
    display: flex;
    border-bottom: 1.5px solid #f1f1f1;
    justify-content: space-between;
    padding: 10px;
}

.header_idayvuelta{
    display: flex;
    align-items: baseline; 
}

.title_idayvuelta{
    display: flex;
    align-items: baseline; 
    font-weight: 600;
    color:#202020;
}

.title_idayvuelta h3{
    font-size: 1.2em;
    margin-bottom: 0;

}

.title_idayvuelta span{
    padding: 0 10px;
    font-size: 1em;
}

.recorrido{
    color: gray;
    font-size: 0.9em;
}