.vuelo_container{
    background: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    border: 1px  solid #dcdcdc;
    transition: all 600ms ease-in-out
}

.vuelo_container:hover{
    -webkit-box-shadow: -1px 1px 9px -4px rgba(0,0,0,0.7);
    -moz-box-shadow: -1px 1px 9px -4px rgba(0,0,0,0.7);
    box-shadow: -1px 1px 9px -4px rgba(0,0,0,0.7);
}

/* ----------------------------------- Vuelo Destacado --------------------------------------------------------------------------------*/

.destacado .border_destacado{
    background: linear-gradient(90deg, rgba(0,200,224,1) 0%, rgba(5,201,123,1) 59%);
	padding: 2px;
}
.destacado .destacado_title
{
		color: white;
		padding:  10px;
		display: flex;
		align-items: center;
}
 .destacado_title + div .row,  .destacado_title + div + div{
 	background: white;

 }

.destacado .destacado_title h3{
	font-size: 1.2em;
	margin-bottom: 0;
}
.destacado .destacado_title p{
	font-size: 0.9em;
	margin-bottom: 0;
}
.destacado .destacado_title svg{
    font-size: 2.2em;
}

.destacado .costo_container .selec_button{
	background: #05c97b;
}
  
.destacado .content_idayvuelta:hover{
	transition: all 0.5s ease-in-out;
	background: aliceblue;

}

.error_step3{
    opacity: 0.4;
    transition: all 1.2s ease-in; 
}