.precio_fixed .filtro_title {
    padding: 0;
} 

.modificar_button
{
    font-size: 0.8em;
    margin: 10px 0; 
}
.cerrar_modal h1, .cerrar_modal button, .checkin_mobile
{
    font-size: 0.9em;
}

.aero_list
{
    padding: 0 5px;
    font-size: 0.9em;
}
.header_detalles
{
        text-align: left;
}
.content_idayvuelta
{
    justify-content: space-around;

}


.detalles_list
{
    padding: 5px; 
    width: 45%; 
}
.aero_escalas
{
    width: 50px;
}
.duracion_total, .equipaje_mouseover{
    display: none;
}
.duracion_total_mobile
{
    margin: 5px 0;
    color: gray;
    display: flex;
    justify-content: space-between; 
}
.equipajes_mobile
{
    display: flex;
    
}
.back_button 
{
    font-size: 1.1em;
}
.btn_mobile, .info_btn 
{
    font-size: 0.8em;
}
.modal_cambios
{
    padding: 10px;
}

#checkCircle {
    width: 200px;
    height: 200px;
}

#checkCircle span{
    font-size: 2em;
}

.compra_detalles p, .compra_detalles h2 {
    font-size: 1em;
}
.compra_detalles small{
    font-size: 0.7em;

}
.destacado .destacado_title h3{
    font-size: 0.9em;
}
.destacado .destacado_title p{
    font-size: 0.7em;
}
.dos_escalas .circle, .dos_escalas .circle_two{
    top:40%; 
    width: 8px;
    height: 8px;
}

.dos_escalas .circle{
    left: 20px;
}
.circle_two{
    right: 18px;
}
